<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindrome Result</title>
</head>
<body>
    <h1>Palindrome Result</h1>
    <p>Employee ID: <span th:text="${employeeId}"></span></p>
    <p>Input String: <span th:text="${inputString}"></span></p>
    <p>Is Palindrome: <span th:text="${isPalindrome}"></span></p>
</body>
</html>